@import url('./vars.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

html,
body {
  min-height: 100vh;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  color: #000;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

.main {
  grid-area: main;
}

section {
  padding-top: 120px;
}

.title {
  font-family: 'Delius Unicase', cursive;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}

.gal,
.gal-cities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.gal-life {
  grid-template-rows: repeat(4, minmax(370px, 1fr));
}

.gal-people {
  grid-template-rows: repeat(5, minmax(370px, 1fr));
  margin-bottom: 120px;
}

.gal__item {
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 20px;
  transition: all 1s ease;
}

.gal__img {
  height: 100%;
  object-fit: cover;
}

.gal__item_col-2 {
  grid-column: span 2;
}

.gal__item_row-2 {
  grid-row: span 2;
}

.gal__icons {
  display: flex;
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
}

.gal__icon {
  width: 40px;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 0;
}

.gal__item:hover .gal__icon {
  opacity: 0.5;
}

.gal__item:hover .gal__icon:hover {
  opacity: 1;
  cursor: pointer;
}

.gal__title {
  display: flex;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  padding: 8px 10px;
  justify-content: space-between;
}

.gal__author {
  font-weight: 500;
}

.gal__item::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(36, 31, 36, 1) 0%,
    rgba(187, 186, 192, 0.26) 10%,
    rgba(187, 186, 192, 0.26) 44%,
    rgba(91, 91, 91, 0.45) 75%
  );
}

.gal__item:hover::before {
  background: linear-gradient(
    to top,
    rgba(36, 31, 36, 1) 0%,
    rgba(187, 186, 192, 0) 25%,
    rgba(187, 186, 192, 0) 44%,
    rgba(91, 91, 91, 0) 75%
  );
}
